<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store category</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="container">
        <%- include('header') -%>
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12 teal lighten-1">
                        <a href="/home" class="breadcrumb">Home</a>
                        <a class="breadcrumb">
                            <%= name %>
                        </a>
                    </div>
                </div>
            </nav>
            <main>
                <h1 style="font-size: 2rem;"><%= page_title %></h1>
                <p>
                    <%= page_description %>
                </p>
                <% for(var i = 0; i < categories.length; i++) {%>
                    <h2 style="font-size: 2rem;"><%= categories[i].page_title%></h2>
                    <% for(var j = 0; j < categories[i].categories.length; j++) {%>
                        <section class="row">
                            <div class="center">
                                <h5><%= categories[i].categories[j].page_title %></h5>
                                <img src="/images/<%= categories[i].categories[j].image %>" alt="" class="row" />
                            </div>
                            <p>
                                <%= categories[i].categories[j].page_description %>
                            </p>
                            <div class="center">
                                <a href="/home/<%= categories[i].id %>/<%= categories[i].categories[j].id %>" class="btn waves-effect waves-light teal lighten-1">View Products</a>
                            </div>
                        </section>

                        <% } %>
                            <% } %>
            </main>
            <%- include('footer') -%>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/init.js"></script>
</body>

</html>
