<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">Bacon ipsum dolor amet spare ribs corned beef ham hock kevin, tongue flank hamburger tenderloin porchetta salami sausage.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Support</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Services</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link to somewhere</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy;
            <a class="brown-text text-lighten-3" href="#">Fashion Store</a>
        </div>
    </div>
</footer>
