  <nav class="white" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="/home" class="brand-logo">Fashion Store</a>
          <ul class="right hide-on-med-and-down">
              <li>
                  <a href="/home/mens">Mens</a>
              </li>
              <li>
                  <a href="/home/womens">Womens</a>
              </li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
              <li>
                  <a href="/home/mens">Mens</a>
              </li>
              <li>
                  <a href="/home/womens">Womens</a>
              </li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse">
              <i class="material-icons">menu</i>
          </a>
      </div>
  </nav>
