<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title><%= title %></title>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	</head>

  	<body>
    	<div class="container">
					<%- include('header') -%>
				<div id="carousel" class="row"></div>
				<main>
					<div class="parallax-container">
							<div class="section no-pad-bot">
									<div class="container">
											<br><br>
											<h1 class="header center teal-text text-lighten-2">Explore</h1>
											<div class="row center">
													<h5 class="header col s12 teal-text text-lighten-2">our men's collections</h5>
											</div>
											<div class="row center">
													<a href="/home/mens" class="btn-large waves-effect waves-light teal lighten-1">Go</a>
											</div>
											<br><br>

									</div>
							</div>
							<div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
					</div>

					<div class="container">
							<div class="section">

									<div class="row">
											<div class="col s12 m4">
													<div class="icon-block">
															<h5 class="center">Bacon ipsum dolor amet</h5>

															<p class="light">Bacon ipsum dolor amet spare ribs corned beef ham hock kevin, tongue flank hamburger tenderloin porchetta salami sausage. Tri-tip capicola pork chop kielbasa short ribs corned beef sirloin.</p>
													</div>
											</div>

											<div class="col s12 m4">
													<div class="icon-block">
															<h5 class="center">Bacon ipsum dolor amet</h5>

															<p class="light">Bacon ipsum dolor amet spare ribs corned beef ham hock kevin, tongue flank hamburger tenderloin porchetta salami sausage. Tri-tip capicola pork chop kielbasa short ribs corned beef sirloin.</p>
													</div>
											</div>

											<div class="col s12 m4">
													<div class="icon-block">
															<h5 class="center">Bacon ipsum dolor amet</h5>

															<p class="light">Bacon ipsum dolor amet spare ribs corned beef ham hock kevin, tongue flank hamburger tenderloin porchetta salami sausage. Tri-tip capicola pork chop kielbasa short ribs corned beef sirloin.</p>
													</div>
											</div>
									</div>

							</div>
					</div>

					<div class="parallax-container valign-wrapper">
							<div class="section no-pad-bot">
									<div class="container">
											<br><br>
											<h1 class="header center teal-text text-lighten-2">Explore</h1>
											<div class="row center">
													<h5 class="header col s12 teal-text text-lighten-2">our women's collections</h5>
											</div>
											<div class="row center">
													<a href="/home/womens" class="btn-large waves-effect waves-light teal lighten-1">Go</a>
											</div>
											<br><br>

									</div>
							</div>
							<div class="parallax"><img src="/images/background2.jpg" alt="Unsplashed background img 2"></div>
					</div>

					<div class="container">
							<div class="section">

									<div class="row">
											<div class="col s12 center">
													<h3>
															<i class="mdi-content-send brown-text"></i>
													</h3>
													<h4>Contact Us</h4>
													<p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
															ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
															ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
											</div>
									</div>

							</div>
					</div>

					<div class="parallax-container valign-wrapper">
							<div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
					</div>
				</main>
				<%- include('footer') -%>

				<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="/javascripts/materialize.js"></script>
        <script src="/javascripts/init.js"></script>
    	</div>
  	</body>
</html>
