<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store products</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div class="container">
      <%- include('header') -%>
      <nav>
          <div class="nav-wrapper">
              <div class="col s12 teal lighten-1">
                  <a href="/home" class="breadcrumb">Home</a>
                  <a class="breadcrumb">
                      <%= products[0].primary_category_id %>
                  </a>
              </div>
          </div>
      </nav>
      <main>
        <div class="row">
          <% for(var i = 0; i < products.length; i++) {%>
              <div class="col m6 products-wrapper">
                <h6><strong><%= products[i].name %></strong></h6>
                <img src="/images/<%= products[i].image_groups[0].images[0].link %>" alt="" />
                <div ><%= products[i].page_description %></div>
                <div>
                  <strong>Price:</strong> <%= products[i].currency %> <%= products[i].price %>
                  <a class="btn waves-effect waves-light teal lighten-1 right" href="/home/category/<%= products[i].primary_category_id %>/<%= products[i].id %>">More Info</a>
                </div>
              </div>
          <% } %>
        </div>
      </main>
      <%- include('footer') -%>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/init.js"></script>
  </body>
</html>
