<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store product</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="container">
        <%- include('header') -%>
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12 teal lighten-1">
                        <a href="/home" class="breadcrumb">Home</a>
                        <a class="breadcrumb">
                            <%= product.name %>
                        </a>
                    </div>
                </div>
            </nav>
            <main class="rowr">
                <div class="col m4">
                    <img src="/images/<%= product.image_groups[0].images[0].link %>" alt="" />
                </div>
                <div class="col m4">
                    <div>
                        <%= product.name %>
                    </div>
                    <div>
                        <%= product.short_description %>
                    </div>
                    <div id="price-wrapper">
                        <button type="button" name="button" class="btn-large waves-effect waves-light teal lighten-1">Buy Now</button>
                        <div class="right">
                            <span id="price">Price:<%= product.price %></span>
                            <select class="browser-default">
                              <option selected="selected" value="<%= product.price %>">USD</option>
                                <% for(var i = 0; i < listOfCurrencies.length; i++) {%>
                                    <option value="<%= listOfCurrenciesValues[i] %>">
                                        <%= listOfCurrencies[i] %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('footer') -%>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/init.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("select").change(function() {
                $('#price').text('Price: ' + ($(this).val() * 1));
            });
        });
    </script>
</body>

</html>
